[Unit]
Description=cfrcw telegram bot

[Service]
Type=simple
EnvironmentFile=/etc/cfrcw.conf
User=danil
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=1337
ExecStartPre=python3 /home/danil/bot/src/data.py
ExecStart=python3 /home/danil/bot/src/main.py
